@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: row; /* Change this line */
    font-family: ubuntu, sans-serif;
    background-color: white;
    color: black;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #text {
    text-align: center;
    font-size: 20px;
  }
  #image {
    align-self: center;
    margin-left: 20px; /* Add this line to add some space between the text and the image */
  }
/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
      background-color: rgb(51, 51, 51);
      color: white;
    }
  }
  .highlight {
    font-size: 12px; /* Adjust as needed */
  }