@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    font-family: ubuntu, sans-serif;
  }
  .content {
    flex: 1 0 auto; /* This will make the content grow to take up all available space */
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  footer {
    flex-shrink: 0; /* This will prevent the footer from shrinking */
  }
  .social-media a {
    color: #000000; /* Change the color of the icons */
    margin: 0 25px; /* Add some margin around the icons */
    text-decoration: none; /* Remove the underline from the links */
  }
  
  .social-media a:hover {
    color: #007bff; /* Change the color of the icons when hovered */
  }
  
  .social-media i {
    font-size: 25px; /* Increase the size of the icons */
  }
  .device-info-text {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
.user-time {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}
.time-switch-button {
  color: #ffffff;
  background-color: #0db10d;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  box-sizing: border-box;
  width: 200px; /* Adjust as needed */
  font-size: 14px; /* Adjust as needed */
  font-family: ubuntu;
  }
  .dark-mode {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  box-sizing: border-box;
  width: 200px;
  font-size: 14px;
  display:block;
  font-family: ubuntu;
}
  body, .device-info-text, .user-time, .social-icon {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}