.frame {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .overlap-group-wrapper {
  background-color: #ffffff;
  width: 1920px;
  height: 1080px;
}

.frame .overlap-group {
  position: relative;
  height: 1080px;
  background-image: url(./img/firefly-windows-xp-bliss-wallpaper-80936-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.frame .text-wrapper {
  position: absolute;
  top: 461px;
  left: 798px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 128px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .element {
  top: 0;
  left: 0;
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.frame .img {
  top: 780px;
  left: 1620px;
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.frame .element-2 {
  top: 0;
  left: 1620px;
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.frame .element-3 {
  top: 780px;
  left: 0;
  position: absolute;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
